@model Blog.Models.ContactModels
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Contact us</h2>
<div class="container">
    <div class="well">
        @using (Html.BeginForm(new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            <div class="row">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            @Html.ValidationSummary(true)
            <div class="row">
                @Html.LabelFor(m => m.LastName, new { @class = "col-sm-4 control-label" }) <br />
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            @Html.ValidationSummary(true)
            <div class="row">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-4 control-label" }) <br />
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            @Html.ValidationSummary(true)
            <div class="row">
                @Html.LabelFor(m => m.Comment, new { @class = "col-sm-4 control-label" }) <br />
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", @rows = "6" })
                    @Html.ValidationMessageFor(m => m.Comment)
                </div>
            </div>
            <div style="margin-top: 20px">
                <div style="margin-left: 490px">
                    <input type="submit" value="Submit" />
                    <input type="reset" value="Reset" />
                </div>
            </div>
        }
    </div>
</div>

