<!DOCTYPE html>
<!--ГЛАВНА СТРАНИЦА--->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
                @Scripts.Render("~/bundles/modernizr")
                <script src="~/Views/Shared/search.css/script.js"></script>
            <link href="~/Views/Shared/search.css/search.css" rel="stylesheet" />
      
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--име търсене регистрация влизане-->
                @Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <form class="form-wrapper">
                    
                    <form action="advsearcher.php" method="get">
                        Search this website:<input align="right" type="text" name="search" />
                        <input type="submit" value="Search" />
                    </form>

                    
                </form>

             
           
                
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>
                        <img src="@Url.Action("UserPhotos", "Home" )" height="48" width="48" />
                    </li>
                <</ul>

                    @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="pull-right">
            <p>&copy; @DateTime.Now.Year - SoftUni Blog</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>