
<!DOCTYPE html>
<!--ГЛАВНА СТРАНИЦА--->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - uBit Team Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Views/Shared/search.css/script.js"></script>
    <link href="~/Views/Shared/search.css/search.css" rel="stylesheet" />
    <!----cookie folder add-->
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-top"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
    <!---------Footer note-->
    <script type="text/javascript" id="cookieinfo"
            src="//cookieinfoscript.com/js/cookieinfo.min.js">
    </script>

</head>
<body>
    <div align="right"> <button type="button">Click Me!</button></div>
<div class="navbar navbar-default navbar-fixed-top">
   
    <div class="container">
        <div class="navbar-header">
      
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--име търсене регистрация влизане-->
            @Html.ActionLink("HOME", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})

            <div class="nav navbar-right" style="margin-top: 14px">
                <form action="~/search.aspx" method="GET">
                    <input type="text" name="SearchTerm"/>
                    <input type="submit" value="Search"/>
                    <Search:ExpressIntegrator runat=server/>
                </form>
            </div>

            <div class="nav navbar-right">
                @Html.ActionLink("Contact us", "Contact", "Home", new {area = ""}, new {@class = "navbar-brand" })
            </div>

        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
</div>
<div class="container body-content" style="margin: 50px">
    
    @RenderBody()

    <footer class="pull-right">
        <p>&copy; @DateTime.Now.Year - uBit Team Blog</p>
        <iframe src="http://free.timeanddate.com/clock/i5ib9hei/n238/tlbg11/tc888/pc888/bo2/tt0/tw1/tm1/td1/th1/tb4" frameborder="0" width="130" height="36"></iframe>



        <script type="text/javascript" src="http://100widgets.com/js_data.php?id=168"></script>
    </footer>
    <!-----SOCIAL NETWORKS TAG-->
    <script type="text/javascript" src="http://100widgets.com/js_data.php?id=255"></script>
</div>
   
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>