
<!DOCTYPE html>
<!--ГЛАВНА СТРАНИЦА--->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - uBit Team Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Views/Shared/search.css/script.js"></script>
    <link href="~/Views/Shared/search.css/search.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--име търсене регистрация влизане-->
                @Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <div class="nav navbar-right" style="margin-top: 17px">
                    <form action="~/search.aspx" method="GET">
                        <input type="text" name="SearchTerm" />
                        <input type="submit" value="Search" />
                        <Search:ExpressIntegrator runat=server />
                    </form>
                </div>

            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>
<div class="container body-content" style="margin: 50px">
    
    @RenderBody()

    <footer class="pull-right">
        <p>&copy; @DateTime.Now.Year - uBit Team Blog</p>
        <iframe src="http://free.timeanddate.com/clock/i5i8znef/n238/tlbg/fcfff/tc000/pct/ftbi/bacfff/tt0/tw0/tm1/ts1/tb4" frameborder="0" width="88" height="36" allowTransparency="true"></iframe>
      
    </footer>
</div>
    <!-----------COMENTS-->
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>