@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <small class="author glyphicon glyphicon-user">
             @Model.Author.FullName
        </small>
        <footer>
            <div class="pull-left">
                <br />
                <div class="glyphicon glyphicon-tag"> </div>
                @foreach (var tag in Model.Tags)
                {
                    <span>@Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs"})</span>
                }
            </div>
           
            <div class="clearfix"></div>
            <h3>Comments:</h3>
                @foreach (var comment in Model.Comments)
                {
                    var userName = System.Web.HttpContext.Current.User.Identity.Name;
                    <p>@comment.Content</p>
                    <p style="font-style: italic;">from @userName</p>
                    <br />
                }
           
            <div class="form-group">
                @using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.Hidden("Id", Model.Id)
                    @Html.ActionLink("Post a Comment", "Create", "Comment", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })

                }
            </div>
            <div class="pull-right">
                @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
                {
                    @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                }

                @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
            </div>
            <br />
            
        </footer>
    </article>
</div>
<hr />